/* CLEARFIX */
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 auto;
	background-color: #dcdee2;
}
nav h1, nav ul, nav li{
	float: left;
}
nav h1{
	margin: 0 auto;
	margin-top: 5px;
}
nav ul{
	margin-left: 70%;
}
.active{
	border-bottom: 1px solid black;
}
li{
	list-style-type: none;
	margin-left: 5px;
}
nav{
	background-color: white;
	height: 50px;
	border-bottom: 1px solid black;
}
article, aside{
	float: left;
}
aside img, aside iframe{
	width: 80%;
	margin-left: 10%;
}
#movie{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
article{
	width: 50%;
	margin-left: 10%;
	margin-right: 10%;
}
aside{
	width: 30%;
	overflow: hidden;
	background-color: #87b0f2;
	opacity: 0.9;
	height: 710px;
}
footer{
	border-top: 1px solid black;
	width: 100%;
	background-color: white;
    position:absolute;
    bottom:0;
    left:0;
    text-align: center;
}